{% extends "base.html" %}

{% block title %}River-Side Picnic Adventure{% endblock title %}

{% block content %}
    <!--  view image -->
    
    <div class="title-container">
        <h1 class="title">River Side Picnic Adventure</h1>
    </div>
    <div class="image-container">
        <img src="https://res.cloudinary.com/dwspjhnrl/image/upload/v1694436020/rwvtfidq6wyapz8wfumh.jpg" alt="River-Side Picnic Adventure" class="image">
    </div>
    <!-- About Us Section -->
<section class="about-us">
    <div class="centered-content">
        <h1>About Us</h1>
        <p>Welcome to our river-side picnic adventure!</p>
        <p>We are passionate about providing you with unforgettable outdoor dining experiences.</p>
        <p>Join us in exploring the beauty of the river up close, enjoying delicious barbecues, and relaxing fishing days.</p>
        <p>Discover the serenity of paddling through the serene waters and taking in breathtaking scenery.</p>
        <p>Come and make memories with us by the river.</p>
    </div>
    <div class="image-container">
        <!-- River Kayaking Section -->
        <div class="activity">
            <img src="https://res-console.cloudinary.com/dwspjhnrl/thumbnails/v1/image/upload/v1694435054/ZWx1enVuOXNtcDZzZ3NzdGZjamw=/preview" alt="Kayaking" class="activity-image">
        </div>

        <!-- Barbecue Section -->
        <div class="activity">
            <img src="https://res-console.cloudinary.com/dwspjhnrl/thumbnails/v1/image/upload/v1694424750/a2ZvNXQ3NjZwZGhtcnZqcXE0eHk=/preview" alt="Barbecue" class="activity-image">
        </div>
    </div>

</section>
{% endblock content %}